@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.tag {
  box-sizing: border-box;

  border-radius: 2px;
  border: 1px solid #00000080;
  margin-right: 8px;
  padding: 2px 6px 3px 5px;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: left;
  color: #00000080;
  height: 20px;
  min-width: 38px;
  font-family: 'Inter UI', sans-serif;
}

.tags {
  margin-bottom: 8px;
}
