@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.app {
  min-width: 400px;
  background-color: rgba(235, 238, 243, 1);
}

.container {
  padding: 16px 16px;
}
