@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.offlinePage {
  display: flex;
  justify-content: center;
  margin-inline: auto;
  margin-block-start: 50vh;
  transform: translateY(-50%);
  font-family: Inter;
  font-size: 48px;
  font-weight: 400;
  line-height: 28px;
}
