@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.header {
  display: flex;
  justify-content: space-between;
  min-width: 400px;
  height: 80px;
  background-color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  align-items: center;
}

.userAuth {
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding-right: 16px;
}

.signIn,
.signUp,
.createArticle,
.editProfile {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: rgba(0, 0, 0, 0.85);
  padding-right: 8px;
}

.signUp,
.createArticle {
  margin-right: 22px;
  padding: 6px 18px 10px 18px;
  color: rgba(82, 196, 26, 1);
  border: 1px solid rgba(82, 196, 26, 1);
  border-radius: 5px;
}

.logOut {
  margin-right: 22px;
  padding: 6px 18px 10px 18px;
  color: #000000bf;
  border: 1px solid #000000bf;
  border-radius: 5px;
}

.blog {
  padding-left: 22px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.85);
}

.avatarImg {
  width: 40px;
  text-align: center;
  height: 40px;
  border-radius: 50%;
}

.author {
  display: flex;
  padding-right: 16px;
  text-decoration: none;
}
